

<style>  
.article-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    align-content: center;
}
.article-box {
    border: 0px;
    padding: 0px;
    background-color: #ffffff;
}
h3 {
    color:#111;
    text-align: left;
    text-decoration: none;
    font-family: "Libre Caslon Text", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 140%
}
p {
    color:#111;
    text-align: left;
    text-decoration: none;
    font-family: "Libre Caslon Text", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100%
}
</style>
