<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% extends "base.html" %}

{% block content%}
{% include "columns.html" %}
<body>
    <div class="article-grid">
        {% for science_item in science %}
            <div class="article-box">
                <h3><a href='/science/{{ science_item.id }}/'>{{ science_item.title }}</a></h3>
                <p>{{ science_item.content|truncatewords:50 }}</p>
            </div>
        {% endfor %}
    </div>
</body>

{% endblock content %}